HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Patient ###

patient/.mvn

patient/.idea
patient/*.iws
patient/*.iml
patient/*.ipr

patient/nbproject/private/
patient/nbbuild/
patient/dist/
patient/nbdist/
patient/.nb-gradle/
patient/build/
!patient/**/src/main/**/build/
!patient/**/src/test/**/build/

### app ###

app/.mvn

app/.idea
app/*.iws
app/*.iml
app/*.ipr

app/nbproject/private/
app/nbbuild/
app/dist/
app/nbdist/
app/.nb-gradle/
app/build/
!app/**/src/main/**/build/
!app/**/src/test/**/build/


