<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <div th:insert="nav" id="nav"></div>
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Adresse</th>
                <th>Numéro de téléphone</th>
            </tr>
            </thead>
            <tr>
                <td th:text="${patient.lastName}"/>
                <td th:text="${patient.firstName}"/>
                <td th:text="${patient.sex}"/>
                <td th:text="${patient.birthdate}"/>
                <td th:text="${patient.address}"/>
                <td th:text="${patient.phone}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>